# Virtual Environment
optimization-service/.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Backend (Node.js)
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/logs/
backend/*.log
backend/src/generated/prisma